<div id="menu-content" class="container">
    <h2 id="menu-categories-title" class="text-center">Menu Categories</h2>
    <div class="text-center">
        **Substituting white rice with brown rice or fried rice after 3:00pm will be Rs.100 for 
        a half plate and Rs.150 for a full plate**.
    </div>
    <section class="row">
        <div class="col-md-3">
            <a router-link='single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/images/menu.jpg" alt="Lunch">
                    <span>Lunch</span>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a router-link='single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/images/menu.jpg" alt="Lunch">
                    <span>Lunch</span>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a router-link='single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/images/menu.jpg" alt="Lunch">
                    <span>Lunch</span>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a router-link='single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/images/menu.jpg" alt="Lunch">
                    <span>Lunch</span>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a router-link='single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/images/menu.jpg" alt="Lunch">
                    <span>Lunch</span>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a router-link='single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/images/menu.jpg" alt="Lunch">
                    <span>Lunch</span>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a router-link='single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/images/menu.jpg" alt="Lunch">
                    <span>Lunch</span>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a router-link='single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/images/menu.jpg" alt="Lunch">
                    <span>Lunch</span>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a router-link='single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/images/menu.jpg" alt="Lunch">
                    <span>Lunch</span>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a router-link='single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/images/menu.jpg" alt="Lunch">
                    <span>Lunch</span>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a router-link='single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/images/menu.jpg" alt="Lunch">
                    <span>Lunch</span>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a router-link='single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/images/menu.jpg" alt="Lunch">
                    <span>Lunch</span>
                </div>
            </a>
        </div>
    </section>
</div>
