<div id="menu-content" class="container">
    <h2 id="menu-categories-title" class="text-center">Menu Categories</h2>
    <div class="text-center">
        **Substituting white rice with brown rice or fried rice after 3:00pm will be Rs.100 for 
        a half plate and Rs.150 for a full plate**.
    </div>
    <section class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/Indianstarter.jpg" alt="Lunch">
                    <span> Indian Starters</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/chinese-starter.jpg" alt="Lunch">
                    <span>Chinese Starters</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/chinese.jpg" alt="Lunch">
                    <span>Chinese</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/south indian.jpg" alt="Lunch">
                    <span>South Indian</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/punjabi.jpg" alt="Lunch">
                    <span>Punjabi</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/breakfast.jpg" alt="Lunch">
                    <span>Breakfast</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/lunch.jpg" alt="Lunch">
                    <span>Lunch</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/appetizers.jpg" alt="Lunch">
                    <span>Appetizers</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/mains.jpg" alt="Lunch">
                    <span>Mains</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/salad.png" alt="Lunch">
                    <span>Salads</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/drinks.jpeg" alt="Lunch">
                    <span>Drinks</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/dessert.jpg" alt="Lunch">
                    <span>Desserts</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/specials.jpg" alt="Lunch">
                    <span>Specials</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/party.jpg" alt="Lunch">
                    <span>Party</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/occasion.jpg" alt="Lunch">
                    <span>Occasions</span>
                </div>
            </a>      
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink='/single-category'>
                <div class="category-tile">
                    <img width="200" height="200" src="../../assets/menu/extras.jpg" alt="Lunch">
                    <span>Extras</span>
                </div>
            </a>
        </div>
    </section>
</div>
