<div id="sc-main-content" class="container">
    <h2 id="menu-categories-title" class="text-center">Lunch Menu</h2>
    <div class="text-center">
        Served with: 1) Rice (choice of vegetables, Fried rice or Brown rice).<br>
                     2) egg roll or soup (Hot&Sour, Vegetable, Egg drop, Chicken Corn Soup).
    </div>

    <section class="row" id="sect">
        <div class="menu-item-tile col-md-6">
            <div class="row">
                <div class="col-sm-5">
                    <div class="menu-item-photo">
                        <div>D01</div>
                        <img class="img-responsive" width="250" height="150" src="../../assets/menu/lunch.jpg" alt="Item">
                    </div>
                    <div class="menu-item-price">Rs.450<span> (Half)</span>
                    Rs.700<span> (Full)</span></div>
                </div>
                <div class="menu-item-description col-sm-7">
                    <h3 class="menu-item-title">Veal with Mixed Vegetables</h3>
                    <p class="menu-item-details">Lorem ipsum dolor sit amet, consecutor adipisicing elit.
                        Eaque inventore esse minima incidunt, impedit. Asperiores, voluptatem. Sint aspenatur
                        provident, rem odio dolorem eaque volupttibus modi reprehenderit minima, itaque cupitate totam.
                    </p>
                </div>
            </div>
            <hr class="visible-xs">
        </div>

        <div class="menu-item-tile col-md-6">
            <div class="row">
                <div class="col-sm-5">
                    <div class="menu-item-photo">
                        <div>D02</div>
                        <img class="img-responsive" width="250" height="150" src="../../assets/menu/lunch.jpg" alt="Item">
                    </div>
                    <div class="menu-item-price">Rs.450<span> (Half)</span>
                    Rs.700<span> (Full)</span></div>
                </div>
                <div class="menu-item-description col-sm-7">
                    <h3 class="menu-item-title">Veal with Mixed Vegetables</h3>
                    <p class="menu-item-details">Lorem ipsum dolor sit amet, consecutor adipisicing elit.
                        Eaque inventore esse minima incidunt, impedit. Asperiores, voluptatem. Sint aspenatur
                        provident, rem odio dolorem eaque volupttibus modi reprehenderit minima, itaque cupitate totam.
                    </p>
                </div>
            </div>
            <hr class="visible-xs">
        </div>

        <div class="clearfix visible-md-block visible-lg-block"></div>

        <div class="menu-item-tile col-md-6">
            <div class="row">
                <div class="col-sm-5">
                    <div class="menu-item-photo">
                        <div>D03</div>
                        <img class="img-responsive" width="250" height="150" src="../../assets/menu/lunch.jpg" alt="Item">
                    </div>
                    <div class="menu-item-price">Rs.450<span> (Half)</span>
                    Rs.700<span> (Full)</span></div>
                </div>
                <div class="menu-item-description col-sm-7">
                    <h3 class="menu-item-title">Veal with Mixed Vegetables</h3>
                    <p class="menu-item-details">Lorem ipsum dolor sit amet, consecutor adipisicing elit.
                        Eaque inventore esse minima incidunt, impedit. Asperiores, voluptatem. Sint aspenatur
                        provident, rem odio dolorem eaque volupttibus modi reprehenderit minima, itaque cupitate totam.
                    </p>
                </div>
            </div>
            <hr class="visible-xs">
        </div>

        <div class="menu-item-tile col-md-6">
            <div class="row">
                <div class="col-sm-5">
                    <div class="menu-item-photo">
                        <div>D04</div>
                        <img class="img-responsive" width="250" height="150" src="../../assets/menu/lunch.jpg" alt="Item">
                    </div>
                    <div class="menu-item-price">Rs.450<span> (Half)</span>
                    Rs.700<span> (Full)</span></div>
                </div>
                <div class="menu-item-description col-sm-7">
                    <h3 class="menu-item-title">Veal with Mixed Vegetables</h3>
                    <p class="menu-item-details">Lorem ipsum dolor sit amet, consecutor adipisicing elit.
                        Eaque inventore esse minima incidunt, impedit. Asperiores, voluptatem. Sint aspenatur
                        provident, rem odio dolorem eaque volupttibus modi reprehenderit minima, itaque cupitate totam.
                    </p>
                </div>
            </div>
            <hr class="visible-xs">
        </div>

        <div class="clearfix visible-md-block visible-lg-block"></div>

        <div class="menu-item-tile col-md-6">
            <div class="row">
                <div class="col-sm-5">
                    <div class="menu-item-photo">
                        <div>D05</div>
                        <img class="img-responsive" width="250" height="150" src="../../assets/menu/lunch.jpg" alt="Item">
                    </div>
                    <div class="menu-item-price">Rs.450<span> (Half)</span>
                    Rs.700<span> (Full)</span></div>
                </div>
                <div class="menu-item-description col-sm-7">
                    <h3 class="menu-item-title">Veal with Mixed Vegetables</h3>
                    <p class="menu-item-details">Lorem ipsum dolor sit amet, consecutor adipisicing elit.
                        Eaque inventore esse minima incidunt, impedit. Asperiores, voluptatem. Sint aspenatur
                        provident, rem odio dolorem eaque volupttibus modi reprehenderit minima, itaque cupitate totam.
                    </p>
                </div>
            </div>
            <hr class="visible-xs">
        </div>

        <div class="menu-item-tile col-md-6">
            <div class="row">
                <div class="col-sm-5">
                    <div class="menu-item-photo">
                        <div>D06</div>
                        <img class="img-responsive" width="250" height="150" src="../../assets/menu/lunch.jpg" alt="Item">
                    </div>
                    <div class="menu-item-price">Rs.450<span> (Half)</span>
                    Rs.700<span> (Full)</span></div>
                </div>
                <div class="menu-item-description col-sm-7">
                    <h3 class="menu-item-title">Veal with Mixed Vegetables</h3>
                    <p class="menu-item-details">Lorem ipsum dolor sit amet, consecutor adipisicing elit.
                        Eaque inventore esse minima incidunt, impedit. Asperiores, voluptatem. Sint aspenatur
                        provident, rem odio dolorem eaque volupttibus modi reprehenderit minima, itaque cupitate totam.
                    </p>
                </div>
            </div>
            <hr class="visible-xs">
        </div>

        <div class="clearfix visible-md-block visible-lg-block"></div>

    </section>
</div>
